<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">contact</th>
        <th scope="col">resume</th>
      </tr>
    </thead>
    <tbody>
        <% applicants.forEach((applicant)=>{ %>
            <tr>
                <th scope="row"><%= applicant.applicantId %></th>
                <td><%= applicant.name %></td>
                <td><%= applicant.email %></td>
                <td><%= applicant.contact %></td>
                <td><a href="/resume/<%= applicant.resumePath %>" target="_blank" class="btn btn-primary">View</a> </td>
              </tr>
        <%})%>
    </tbody>
  </table>